.carousel-item{
    height: 91vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.3;
}
.carousel-caption{
    bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-caption h2{
    font-size: 80px;
    font-weight: 700;
}
.carousel-item p{
    font-size: 30px;
    top: 2rem;
}
/* h2{
    color:rgb(255, 255, 255);
} */
/* p{
    color: black;
} */
